.content {
  position: absolute;
  top: 0;
  left: $external-border-width;
  right: $external-border-width;
  height: 100%;
  font-size: 1.8rem;
  pointer-events: none;
  display: none;
  @include font-serif();
  transition: opacity .5s ease-in-out;

  &__wrapper {
    margin-left: percentage(1 / $grid-cols);
    padding: $external-border-width;
    pointer-events: auto;
    height: 100%;
    box-sizing: border-box;
    margin-right: -$external-border-width;
    background-color: $color-white;
  }

  &__inner {
    position: relative;
    max-width: 96rem;
    padding-bottom: 10rem;

    hr {
      border-style: solid;
      border-color: $color-lightgrey;
      margin: 10rem 0;
    }
  }

  &__menu {

    &-wrapper {
      position: fixed;
      top: 2vw;
      bottom: 2vw;
      width: percentage(1 / $grid-cols);
    }

    &-inner {
      padding-top: 35vh;
      height: 100%;
      position: relative;

      nav {
        height: 100%;
        position: relative;
      }
    }
  }

  &--pre-show.content {
    display: block;
    opacity: 0;
    pointer-events: none;
  }

  &--show.content {
    display: block;
  }
}
