.content {
  position: absolute;
  top: 0;
  left: $external-border-width;
  right: 0;
  height: 100%;
  font-size: 1.8rem;
  overflow: hidden;
  pointer-events: none;
  @include font-serif();
  transition: opacity .5s ease-in-out, height 0s ease;

  &__wrapper {
    margin-left: percentage(1 / $grid-cols);
    padding: $external-border-width;
    pointer-events: auto;
    height: 100%;
    box-sizing: border-box;
    background-color: $color-white;
    overflow: auto;
  }

  &__inner {
    position: relative;
    max-width: 96rem;
    padding-bottom: 10rem;

    hr {
      border-style: solid;
      border-color: $color-lightgrey;
      margin: 10rem 0;
    }
  }

  &__menu {
    &-wrapper {
      position: fixed;
      top: 2vw;
      bottom: 2vw;
      width: percentage(1 / $grid-cols);
      left: 2vw;
      transition: left .5s ease-in-out;
    }

    &-inner {
      padding-top: 35vh;
      height: 100%;
      position: relative;

      nav {
        height: 100%;
        position: relative;
      }
    }
  }

  &--hidden.content {
    height: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out, height 0s ease .5s, overflow 0s ease .5s;

    .content__menu-wrapper {
      left: -100%;
    }
  }
}
