.card-nav {
    display: table;
    height: 100%;
    width: 100%;
    cursor: pointer;

  &__inner {
    height: 100%;
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    color: $color-white;
  }

  &__title {
    font-size: 2vw;
    text-transform: uppercase;
    margin: 0;
    display: inline;
    position: relative;
    @include font-mono();

    &:after {
      content: ' ';
      display: block;
      position: absolute;
      background-color: $color-white;
      width: 100%;
      height: 2px;
      left: 50%;
      bottom: -0.5vh;
      transform: translateX(-50%);
    }
  }

  &--backlink {
    opacity: 0;
    transition: all 1s ease-in-out;

    &:hover {
      .card-nav__title {
        color: $color-white;

        &:before {
          left: -2.5vw;
        }
      }
    }

    .card-nav__title {
      color: $color-grey;
      transition: all .3s ease-in-out;

      &:before {
        content: "<";
        display: block;
        position: absolute;
        left: -2vw;
        top: -0.3vw;
        font-size: 2.5vw;
        transition: left .3s ease-in-out;
        @include font-mono();
      }
      &:after {
        display: none;
      }
    }
  }
}
