$card-padding: 1.25vw;
$initialLightenPercent: 0%;
$lightness: 4.5%;

.card {
  perspective: 1000px;
  transition: all .4s ease-in-out;

  &:not(.flipped):hover,
  &:not(.flipped):focus,
  &:not(.flipped).active {
    transition: all .2s ease-in-out;
    transform: scale(.9);
  }

  &:not(.flipped):not(.active):active {
    transition: all .05s ease-in-out;
    transform: scale(.85);
  }

  @for $i from 1 through 8 {
    &--color-#{$i} {
      .card__front,
      .card__thumbnail {
        background-color: lighten($color-main, $initialLightenPercent + ($lightness * $i));
      }
    }
  }

  &.flipped {
    .card {
      &__front {
        transform: scale(1) rotateY(180deg);
      }

      &__back {
        transform: scale(1.01) rotateY(360deg);
      }
    }
  }

  &.show-image .card {
    &__thumbnail {
      display: block;
      transform: scale(1) rotateY(0deg);
      transition: transform .5s .3s ease-in-out;
    }

    &__front {
      transform: scale(0) rotateY(0deg);
    }
  }

  &.flipped,
  &.flipped.show-image {
    .card__thumbnail {
      transform: scale(1) rotateY(180deg);
      transition: transform .5s ease-in-out;
      z-index: 0;
    }
  }

  &__back,
  &__front,
  &__thumbnail {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform .5s ease-in-out;
  }

  &__front {
    padding: $card-padding;
    box-sizing: border-box;
    z-index: 2;
    transform: scale(1) rotateY(0deg);
  }

  &__back {
    transform: scale(1) rotateY(180deg);
    background-color: $color-white;
    z-index: 4;
  }

  &__thumbnail {
    width: 100%;
    height: 100%;
    background: #222;
    z-index: 5;
    transform: scale(0) rotateY(0deg);
    overflow: hidden;
    transition: transform .5s ease-in-out;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &--align-top-left video {
      object-position: 0 0;
    }
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
