$card-padding: 1.25vw;
$initialLightenPercent: 0%;
$lightness: 4.5%;

.card {
  perspective: 1000px;

  &:not(.show-secondary) &__front:hover,
  &:not(.show-secondary) &__front:focus {
    transition: all .2s ease-in-out;
    transform: scale(0.9) rotateY(0);
  }

  &--clickable:not(.flipped):active &__front {
    transition: transform .05s ease-in-out, background-color .05s ease-in-out;
    background-color: $color-main-ultralight;
    transform: scale(.85) rotateY(0);

    .card-nav__inner {
      color: $color-main-light;

      .card-nav__title:after {
        background-color: $color-main-light;
      }
    }
  }

  @for $i from 1 through 8 {
    &--color-#{$i} {
      .card__front,
      .card__thumb {
        background-color: lighten($color-main, $initialLightenPercent + ($lightness * $i));
      }
    }
  }

  &.flipped {
    .card, .show-secondary.card {
      &__back {
        transform: scale(1.01) rotateY(360deg);
      }

      &__thumb {
        display: none;
      }
    }
  }

  &.show-secondary {
    cursor: pointer;

    .card {
      &__thumb {
        display: block;
        opacity: 1;
        transform: scale(1) rotateY(0deg);
        transition: all .5s .15s ease-in-out;
      }

      &__front {
        transform: scale(0) rotateY(0deg);
      }

      &__thumb.project-thumb--backToHomeLink .card-nav {
        opacity: 1;
        transition: all 1s 1s ease-in-out;
      }
    }
  }

  &.flipped,
  &.flipped.show-secondary {
    .card__front {
      transform: scale(1) rotateY(180deg);
    }
    .card__thumb {
      transform: scale(1) rotateY(180deg);
      transition: all .5s ease-in-out;
      z-index: 0;
    }
  }

  &__back,
  &__front,
  &__thumb {
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
  }

  &__front {
    padding: $card-padding;
    box-sizing: border-box;
    z-index: 2;
    transform: scale(1) rotateY(0deg);
    transition: all .5s ease-in-out;
  }

  &__back {
    transform: scale(1) rotateY(180deg);
    background-color: $color-white;
    z-index: 4;
  }

  &__thumb {
    width: 100%;
    height: 100%;
    z-index: 5;
    transform: scale(0) rotateY(0deg);
    overflow: hidden;
    transition: all .5s ease-in-out;
    opacity: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}
