.project-menu {
  pointer-events: auto;

  @include portrait() {
    display: none;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    margin: 0 0 .35em .35em;
    letter-spacing: 2px;
    @include font-sans(500);
  }

  &__link {
    color: $color-black;
    text-decoration: none;
    background-color: $color-main-ultralight;
    white-space: pre-wrap;
    position: relative;
    padding-right: .35em;
    transition: background-color 1s ease-in-out;

    &:after {
      content: " ";
      position: absolute;
      top: 0;
      right: 100%;
      bottom: 0;
      width: 0.4em;
      background-color: $color-main-ultralight;
      transition: background-color 1s ease-in-out;
    }

    &:hover, &.active {
      background-color: $color-main-light;
      transition: background-color .2s ease-in-out;

      &:after {
        background-color: $color-main-light;
        transition: background-color .2s ease-in-out;
      }
      // box-shadow: 6px 0 0 lighten($color-main, 20%) -6px 0 0 lighten($color-main, 20%);
    }
  }

  &__type {
    @include font-sans(300);
  }
}
