.skills {
  margin: 0;
  padding: 0;
  list-style: none;

  &__item {
    display: table;
    margin-bottom: 2vw;

    @include portrait() {
      margin-bottom: 8vw;
    }
  }

  &__desc {
    display: table-cell;
    vertical-align: middle;
    padding: 0 2vw;
    @include font-mono(300);

    @include portrait() {
      padding: 0 2vw 0 6vw;
    }
  }

  &__img {
    display: table-cell;
    vertical-align: middle;
    width: 125px;
    height: 125px;

    @include portrait() {
      width: 20vw;
      height: 20vw;
    }
  }
}
