@import "common/variables";
@import "common/fonts";
@import "common/mq";

@import "layout/grid";
@import "layout/content";

@import "components/project";
@import "components/card";
@import "components/card-header";
@import "components/card-nav";

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  @include font-mono();
}

html {
  font-size: 62.5%;
}
