$mq-breakpoints: (
    mobile:  320px,
    tablet:  740px,
    desktop: 1024px,
    wide:    1300px
);

$mq-show-breakpoints: (mobile, tablet, desktop, wide);

@import "~sass-mq/_mq.scss";

@mixin portrait() {
  @include mq($until: desktop, $and: '(orientation: portrait)') {
    @content;
  }
}
